<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Calculadora
  </h1>
  
</div>
  <h2>Edad1:</h2>
    <input type="number" placeholder="Ingrese una edad" name="edad1" id="edad1" [(ngModel)]="edad1" >

    <h2>Edad2:</h2>
    <input type="number" placeholder="Ingrese Edad 2" name="edad2" id="edad2" [(ngModel)]="edad2">
  
    <div *ngIf="mostrar">
      <h3>El promedio es {{promedio}}</h3>
    </div>
    <br>
    <button (click)="calcularPromedio()">Calcular Promedio</button>
    <button (click)="Limpiar()">Borrar</button>
<router-outlet></router-outlet>
